POSTGRES_VERSION=18-alpine
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mydatabase
POSTGRES_PORT=5433
POSTGRES_CONTAINER_NAME=postgres-db
SALT_ROUNDS=10
JWT_SECRET=super_secreto_para_firmar_tokens_jwt_icesi_2026
JWT_EXPIRES_IN=1h
CLAVE_SECRETISIMA=12345678901234567890123456789012
IV_SECRETISIMA=1234567890123456